.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 140px;
  overflow: auto;
  align-items: center;

  font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
  background: none;
  border: 2px solid #0172f0;
  font: inherit;
  line-height: 1;
  margin: 0.3em;
  padding: 0.5em 1em;
  color: #0172f0;
  transition: 0.25s;
  border-radius: 5px;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #006be5;
  color: #006be5;
  box-shadow: 0 0.5em 0.5em -0.4em #004fa9;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}
