.audio-sentence {
  position: relative;

  width: 30px;
  height: 30px;
  background: #59b0ed;

  border-radius: 5px;
  padding: 3px 3px;

  text-align: center;
  font-size: 1.3rem;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
}

.audio-sentence::after {
  position: relative;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./../../../assets/images/speaker.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.audio-sentence:hover {
  transform: scale(1.1);
}
.audio-sentence:active {
  top: 2px;
}
.audio-sentence--off {
  background: rgb(221, 230, 235);
}
