.buttons-container {
  display: flex;
  gap: 10px;
}

.continue-button {
  display: none;
  position: relative;
  width: 150px;

  border-radius: 5px;
  padding: 10px 3px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  border: 0;
  background: #59b0ed;
  cursor: pointer;
}
.continue-button--active {
  display: block;
}
.continue-button:not(:disabled):hover {
  background: #46a7ed;
}

.continue-button:not(:disabled):active {
  top: 2px;
}

.continue-button:disabled {
  cursor: auto;
}
.check-button {
  position: relative;
  width: 150px;

  border-radius: 5px;
  padding: 10px 3px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  border: 0;
  background: #59b0ed;
  cursor: pointer;
}
.continue-button--none {
  display: none;
}

.check-button:disabled {
  cursor: auto;
}
.check-button:not(:disabled):hover {
  background: #46a7ed;
}

.check-button:not(:disabled):active {
  top: 2px;
}
