.login-form-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;

  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.login-form-modal-wrapper--active {
  opacity: 1;
  visibility: visible;
}

.login-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  bottom: 60px;

  width: 420px;
  height: 380px;
  border-radius: 20px;
  background: rgb(220, 237, 252);
  margin: 0 auto;
  padding: 10px;
}
.form-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
p {
  margin: 5px;
  font-size: 20px;
}
input {
  padding: 10px 5px;
  border: 0;
  outline: none;
  border-radius: 5px;
  font: 0.7em sans-serif;
}
.input-invalid {
  border: 1px solid #ee5050;
}
.button {
  margin-top: 20px;
  border-radius: 5px;
  width: 50%;
  padding: 7px 5px;
  font: 0.7em sans-serif;
  border: 0;
  background: #ffffff;
  cursor: pointer;
}

.button:disabled {
  color: rgb(0, 0, 0, 0.4);
  background-color: #d7d7d7;
  cursor: auto;
}

.input-valid {
  background-image: url(./../../../assets/images/tick.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 190px;
  border: 1px solid #2acf33;
}

.errorMessage {
  margin-top: 3px;
  font-size: 14px;
  color: #ee5050;
}
