.translation-sentence-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.translation-sentence {
  font-size: 1.2rem;
  color: rgb(78, 79, 80);
  font-style: italic;
  transition: 0.2s;
}
.translation-sentence--off {
  opacity: 0;
}
