.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.select {
  height: 30px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 1);
}
