.hint-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 50%;
}

.translation-hint-button,
.audio-hint-button {
  position: relative;

  width: 35px;
  height: 35px;
  background: #75bdf1;

  border-radius: 5px;
  padding: 5px 5px;

  text-align: center;
  font-size: 1.3rem;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
}
.translation-hint-button::after {
  position: relative;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./../../../assets/images/translate.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.translation-hint-button:hover {
  transform: scale(1.1);
}
.translation-hint-button:active {
  top: 2px;
}
.translation-hint-button--off {
  background: #c7cbce;
}

.audio-hint-button::after {
  position: relative;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./../../../assets/images/speakerHint.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.audio-hint-button:hover {
  transform: scale(1.1);
}
.audio-hint-button:active {
  top: 2px;
}
.audio-hint-button--off {
  background: #c7cbce;
}
