.statistics-pages {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./../../assets/images/sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(224, 227, 228);
  height: 100vh;
}

.statistics-pages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 500px;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  background-color: white;
}
.continue-button-statistic {
  position: relative;
  width: 150px;

  border-radius: 5px;
  padding: 10px 3px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  border: 0;
  background: #59b0ed;
  cursor: pointer;
}
.continue-button-statistic:hover {
  background: #46a7ed;
}

.continue-button-statistic:active {
  top: 2px;
}
.autocomplete-wrapper {
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  background-color: #ede0e0;
}

.knows-wrapper {
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  background-color: #d3e0d1;
}
.autocomplete-Title {
  color: rgb(184, 73, 73);
  margin: 5px;
}
.know-Title {
  color: rgb(70, 150, 96);
  margin: 5px;
}
.sentence {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 25px;
  color: black;
  font-size: 1rem;
}
