.result-block {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 768px;
  height: 420px;
  background-color: rgb(221, 230, 235);
  border: 1px solid #0622376d;
}
