html {
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: 'Lato';
}
.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}
